PORT=3000
JWT_SECRET=tu_clave_secreta_aqui
ADMIN_PASSWORD=tu_contrasena_admin

# Configuración de Correo Electrónico (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_contrasena_de_aplicacion
